includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
  level: 4
  paths:
    - .
  excludePaths:
    - vendor/*
    - node_modules/*
    - .github/*

  # Load WordPress function signatures (add_action, add_filter, etc.)
  stubFiles:
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    - stubs/elementor.php

  # (Optional) if you see notices about undefined constants, uncomment:
  constants:
    JPRM_PLUGIN_PATH: ''
    JPRM_PLUGIN_URL: ''