includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
  - phpstan-baseline.neon

parameters:
  level: 2
  paths: [ . ]
  excludePaths: [ vendor/*, node_modules/*, .github/* ]

  stubFiles:
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    - stubs/elementor.php

  bootstrapFiles:
    - stubs/constants.php
